.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: linear-gradient(to bottom, #f0f2f5, #fff);
}

.content {
  flex: 1;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/FFpdVQ6sBmKGmZyMKpWO.svg');
    background-size: 100% 100%;
  }

  .content {
    padding: 112px 0 24px;
  }
}

.prefixIcon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

.footer {
  padding: 12px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}